@import './bg.scss';

[data-bg=xue] {
    background: $bg-xue;
}
[data-bg=lei] {
    background: $bg-lei;
}
[data-bg=shachen] {
    background: $bg-shachen;
}
[data-bg=wu] {
    background: $bg-wu;
}
[data-bg=bingbao] {
    background: $bg-bingbao;
}
[data-bg=yun] {
    background: $bg-yun;
}
[data-bg=yu] {
    background: $bg-yu;
}
[data-bg=yin] {
    background: $bg-yin;
}
[data-bg=qing] {
    background: $bg-qing;
}